*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #7bad9d;
    border-color: #7bad9d;
    color: white;
    font-weight: bold;
}
.login-foto{
    background-image: url(home.jpg);
    background-position: center center;
    background-size: cover;
}
.login{
    background-color: #7bad9d;
    border-color: #7bad9d;
}
.login:hover, .login:focus, .login:active, .login.active, .open .dropdown-toggle.login {
    background-color: #d3eae2;
    border-color: #d3eae2;
}
.signup{
    background-color: #7bad9d;
    border-color: #7bad9d;
}
.signup:hover, .signup:focus, .signup:active, .signup.active, .open .dropdown-toggle.signup {
    background-color: #d3eae2;
    border-color: #d3eae2;
}
.pay{
    background-color: #7bad9d;
    border-color: #7bad9d;
}
.pay:hover, .pay:focus, .pay:active, .pay.active, .open .dropdown-toggle.pay {
    background-color: #d3eae2;
    border-color: #d3eae2;
}
.deleteOrder{
    background-color: #e096c8;
    border-color: #e096c8;
}
.deleteOrder:hover, .deleteOrder:focus, .deleteOrder:active, .deleteOrder.active, .open .dropdown-toggle.deleteOrder {
    background-color: #f8d4ed;
    border-color: #f8d4ed;
}
.link{
    color: #7bad9d;
}
.link:hover{
    color: #d3eae2;
}
.home{
    background: url(./home.jpg)no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}