.login-foto{
    background-image: url(https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/275046556_440095941240904_5117343403999697497_n.jpg?_nc_cat=102&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=O23j6TfOsKAAX9hLA1v&_nc_ht=scontent.fntr4-1.fna&oh=00_AT_7L00oBpMM91__8FZGSTO5ShaOaeqTbaEZGAWMgU-_bw&oe=6289E34C);
    background-position: center center;
    background-size: cover;
}
.signup-foto{
    background-image: url(https://scontent.fntr4-1.fna.fbcdn.net/v/t39.30808-6/279550789_481522327098265_5309884415788634634_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=ZIthShAfDKAAX9vvuTh&_nc_ht=scontent.fntr4-1.fna&oh=00_AT-NlXvDyAPo4WwPVus7mLJLXrCzAw1qhn1wZkB9uE_Vlw&oe=628A88F0);
    background-position: center center;
    background-size: cover;
}